@font-face {
  font-family: "Ribes-Black";
  src: url("../assets/fonts/Ribes-Black.woff") format("woff"),
       url("../assets/fonts/Ribes-Black.woff2") format("woff2");
}

@font-face {
  font-family: "SurfingCapital";
  src: url("../assets/fonts/SurfingCapital.woff") format("woff"),
  	   url("../assets/fonts/SurfingCapital.woff2") format("woff2");
}

body {
	background:linear-gradient( #fdbcbc85,#ff72a0);
}

#container {
	margin-left: 100px;

}


h1 {
	
	font-family: Ribes-Black;
	background: none;
	color: #ff65ac;
	font-size: 150px;
}

p {
	font-family: Ribes-Black;
	color: white;
	font-size: 30px;
}

h3 {
	font-family:Ribes-Black;
	color: #00ffc4;
}

li {
	list-style: none;
	text-decoration: none;
	font-family:Ribes-Black;
	color: #00ffc4;
}

h1{
 text-align: center;
 margin: 1rem auto;
}
button{
 font-size: 1rem;
 font-weight: bold;
 border: 2px solid var(--accent-color);
 background: transparent;
 padding: 0.5rem;
 margin-bottom: 1rem;
 border-radius: 5px;
}

button:hover{
 background: rgb(200 200 200);
 cursor: pointer;
 color: white;
}

h1:hover{
 color: white;
}


/* DARK MODE STYLES GO HERE */

body.darkmode {
 background: black;
 color: white;

 /* redefine a CSS variable */
 --accent-color: rgb(0,255,0);
}

body.darkmode button{
 color: white;
}