@font-face {
  font-family: "Ribes-Black";
  src: url("../assets/fonts/Ribes-Black.woff") format("woff"),
       url("../assets/fonts/Ribes-Black.woff2") format("woff2");
}

@font-face {
  font-family: "SurfingCapital";
  src: url("../assets/fonts/SurfingCapital.woff") format("woff"),
  	   url("../assets/fonts/SurfingCapital.woff2") format("woff2");
}

body {
	background:linear-gradient( #fdbcbc85,#ff72a0);
}

#container {
	margin: 50px;
}


h1 {
	font-family: SurfingCapital;
	background: none;
	color: #ff65ac;
	font-size: 100px;
}

p {
	font-family: Ribes-Black;
	color: white;
	font-size: 30px;
}

h3 {
	font-family:Ribes-Black;
	color: #00ffc4;
}

li {
	list-style: none;
	text-decoration: none;
	font-family:Ribes-Black;
	color: #00ffc4;
}