* {
	margin: 0px;
	padding: 0px;
}

body {
	background: #e7e7e6;
	padding: 30px;	
}

/* navigation */

nav {
	margin: 30px;
}


/* stage */

.a {
	width: 150px;
	height: 150px;
	padding: 30px;	
}

.b {
	width: 150px;
	height: 150px;
	padding: 30px;	
}

.c {
	width: 150px;
	height: 150px;
	padding: 30px;	
}
.d{
	width: 150px;
	height: 150px;
	padding: 30px;	
}
.e{
	width: 150px;
	height: 150px;
	padding: 30px;	
}
.f{
	width: 150px;
	height: 150px;
	padding: 30px;	
}
.g{
	width: 150px;
	height: 150px;
	padding: 30px;	
}
.h{
	width: 150px;
	height: 150px;
	padding: 30px;	
}
.i{
	width: 150px;
	height: 150px;
	padding: 30px;	
}
.j{
	width: 150px;
	height: 150px;
	padding: 30px;
}
.k{
	width: 150px;
	height: 150px;
	padding: 30px;
}
.l{
	width: 150px;
	height: 150px;
	padding: 30px;
}
.m{
	width: 150px;
	height: 150px;
	padding: 30px;
}
.n{
	width: 150px;
	height: 150px;
	padding: 30px;
}
.o{
	width: 150px;
	height: 150px;
	padding: 30px;
}
.p{
	width: 150px;
	height: 150px;
	padding: 30px;
}
.q{
	width: 150px;
	height: 150px;
	padding: 30px;
}
.r{
	width: 150px;
	height: 150px;
	padding: 30px;
}
.s{
	width: 150px;
	height: 150px;
	padding: 30px;
}
.t{
	width: 150px;
	height: 150px;
	padding: 30px;
}
.u{
	width: 150px;
	height: 150px;
	padding: 30px;
}
.v{
	width: 150px;
	height: 150px;
	padding: 30px;
}
.w{
	width: 150px;
	height: 150px;
	padding: 30px;
}
.x{
	width: 150px;
	height: 150px;
	padding: 30px;
}
.y{
	width: 150px;
	height: 150px;
	padding: 30px;
}
.z{
	width: 150px;
	height: 150px;
	padding: 30px;
}
#showcase {
	width: 2000px;
	height: 2000px;
	margin: auto;
	overflow: visible;
	position: relative;
	top: calc(50vh - 400px);
}

/*img{
	display: block;
}*/

/* images */

svg:hover {
	transform: rotate(90deg);
	transition-property: all;
    transition-duration: 1000ms;
    transition-timing-function: ease;
    transition-delay: 0s;
}

