body{

}
* {
 transition: all 1500ms ease;

}

.bounding-box{
    position: relative;
    width: 4000px;
    height: 4000px;
    background: white;
}

.astroke {
    position: absolute;
    background: linear-gradient(0deg, rgb(45 212 166 / 27%) 100%, rgba(255,199,0,1) 100%);
}

.a1 {
    width: 30px;
    height: 168px;
    top: 151px;
    left: 262px;
}

.a2 {
    width: 30px;
    height: 168px;
    top: 290px;
    left: 55px;
}

.a3 {
    width: 30px;
    height: 250px;
    top: 251px;
    left: 165px;
    transform: rotate(56deg);
}

.a4 {
    width: 30px;
    height: 250px;
    top: -29px;
    left: 165px;
    transform: rotate(123deg);
}

.a5 {
    width: 30px;
    height: 264px;
    top: 96px;
    left: 157px;
    transform: rotate(56deg);
}


.cube {
     position: absolute;
    background: linear-gradient(0deg, rgb(45 212 166 / 27%) 100%, rgba(255,199,0,1) 100%);
}
.cube1 {
    width: 30px;
    height: 300px;
    top: 941px;
    left: 290px;
}
.cube2{
    width: 30px;
    height: 300px;
    top: 800px;
    left: 55px;
}
.cube6{
    width: 30px;
    height: 291px;
    top: 732px;
    left: 172px;
    transform: rotate(122deg);
}
.cube7{
    width: 30px;
    height: 278px;
    top: 1017px;
    left: 166px;
    transform: rotate(120deg);
}
.cube8{
    width: 31px;
    height: 292px;
    top: 596px;
    left: 174px;
    transform: rotate(62deg);
}

.cubee {
     position: absolute;
     background: linear-gradient(0deg, rgb(45 212 166 / 75%) 100%, rgba(255,199,0,1) 100%);
}

.noo1{
    width: 30px;
    height: 300px;
    top: 941px;
    left: 290px;
}
.noo2{
     width: 30px;
    height: 317px;
    top: 720px;
    left: 419px;
    transform: rotate(61deg);
}
.noo3{
    width: 30px;
    height: 299px;
    top: 1008px;
    left: 427px;
    transform: rotate(61deg);
}
.noo4{
    width: 30px;
    height: 304px;
    top: 591px;
    left: 425px;
    transform: rotate(117deg);
}
.noo5{
    width: 30px;
    height: 300px;
    top: 800px;
    left: 550px;
}
.nob1{
    width: 30px;
    height: 299px;
    top: 944px;
    left: 1090px;
}
.nob2{
    width: 30px;
    height: 300px;
    top: 800px;
    left: 1350px;
}
.nob3{
    width: 30px;
    height: 317px;
    top: 720px;
    left: 1219px;
    transform: rotate(61deg);
}
.nob4{
    width: 30px;
    height: 299px;
    top: 1008px;
    left: 1227px;
    transform: rotate(61deg);
}
.noc1{
    width: 30px;
    height: 291px;
    top: 732px;
    left: 1672px;
    transform: rotate(122deg);
}
.noc2{
    width: 30px;
    height: 317px;
    top: 720px;
    left: 1919px;
    transform: rotate(61deg);
}
.noc3{
    width: 30px;
    height: 300px;
    top: 942px;
    left: 1790px;
}
.bounding-box:hover .cubee{
    background: linear-gradient(0deg, rgb(45 212 166 / 0%) 100%, rgba(255,199,0,1) 100%)
}

.cube1 {
    position: absolute;
    background: linear-gradient(0deg, rgb(45 212 166 / 27%) 100%, rgba(255,199,0,1) 100%);
}

.no1{
    width: 30px;
    height: 300px;
    top: 941px;
    left: 290px;
}


.cubeb {
    position: absolute;
    background: linear-gradient(0deg, rgb(45 212 166 / 27%) 100%, rgba(255,199,0,1) 100%);
}
.cubeb2{
    width: 30px;
    height: 300px;
    top: 800px;
    left: 855px;
}
.cubeb6{
    width: 30px;
    height: 291px;
    top: 732px;
    left: 972px;
    transform: rotate(122deg);
}

.cubeb7{
    width: 30px;
    height: 278px;
    top: 1017px;
    left: 966px;
    transform: rotate(120deg);
}

.cubeb8{
    width: 31px;
    height: 292px;
    top: 596px;
    left: 974px;
    transform: rotate(62deg);
}

.cubeb9{
    width: 30px;
    height: 304px;
    top: 591px;
    left: 1225px;
    transform: rotate(117deg);
}

.cubec{
    position: absolute;
    background: linear-gradient(0deg, rgb(45 212 166 / 27%) 100%, rgba(255,199,0,1) 100%);
}
.cubec2{
    width: 30px;
    height: 300px;
    top: 800px;
    left: 1555px;
}

.cubec3{
    width: 30px;
    height: 300px;
    top: 800px;
    left: 2050px;
}

.cubec5{
    width: 30px;
    height: 299px;
    top: 1008px;
    left: 1927px;
    transform: rotate(61deg);
}

.cubec7{
    width: 30px;
    height: 278px;
    top: 1017px;
    left: 1666px;
    transform: rotate(120deg);
}

.cubec8{
    width: 31px;
    height: 292px;
    top: 596px;
    left: 1674px;
    transform: rotate(62deg);
}

.cubec9{
     width: 30px;
    height: 304px;
    top: 591px;
    left: 1925px;
    transform: rotate(117deg);
}

.bstroke {
    position: absolute;
    background: linear-gradient(0deg, rgb(45 212 166 / 55%) 100%, rgba(255,199,0,1) 100%);
}

.no1 {
    width: 30px;
    height: 421px;
    top: 37px;
    left: 500px;
}

.no2 {
    width: 30px;
    height: 250px;
    top: 251px;
    left: 610px;
    transform: rotate(56deg);
}

.no3 {
    width: 30px;
    height: 150px;
    top: 168px;
    left: 707px;
}

.no4 {
    width: 30px;
    height: 250px;
    top: 101px;
    left: 610px;
    transform: rotate(56deg);
}

.cstroke {
    position: absolute;
    background: linear-gradient(0deg, rgb(45 212 166) 100%, rgba(255,199,0,1) 100%);
}

.c1 {
    width: 30px;
    height: 289px;
    top: 174px;
    left: 1000px;
}

.c2 {
    width: 30px;
    height: 250px;
    top: 256px;
    left: 1109px;
    transform: rotate(56deg);
}

.c3 {
    width: 30px;
    height: 250px;
    top: -8px;
    left: 1097px;
    transform: rotate(56deg);
}
