*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@font-face {
	font-family: 'CoalhandLukeTRIAL';
	src: url('../founts/CoalhandLukeTRIAL.woff') format("woff");
}

.background {
	background-image: url(../iris.jpg);
	position: fixed;
	height: 100%;
	width: 100%;
	opacity: 1;
	z-index: -1;
}

section
{
	background-color: #91a9ff45;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	min-width: 100vw;
	font-family: CoalhandLukeTRIAL;
}

#grid {
	width: 1200px;
	height: 700px;
	border: 0px solid #ffdfdf;
	background: none;
	display: grid;
	grid-template-columns: 2fr 1fr 1fr ;
	grid-template-rows: 0.3fr 2fr 2fr 0.7fr;
	grid-gap: 10px;
	
}

section.content 
{
	max-width: 80%;
}


canvas
{
	background-image: url(../letter.jpg);
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 1;
	mix-blend-mode: screen;
}

#blue2
{
	grid-row-start: 4;
	grid-row-end: 5;
	grid-column-start: 3;
	grid-column-end: 4;
	text-align: top;
	font-size: 40px;
	color: #4040a2;
	z-index: 2;
}

.container a
{
	text-decoration: none;
}


li{
	list-style: none;

}
li a 
{
	color: #5d62ff;
	text-decoration: none;
}



